.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: var(--main-bgr-cl);
  border: none;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 40px 48px;

  background-color: #fff;

  transform: translateX(100%);
  transition: transform 400ms;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu {
  margin-bottom: auto;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.mobile-menu-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: var(--title-txt-cl);
}

.mobile-menu-link {
  transition: color 250ms var(--timing-function);

  &.mobile-menu-link--active {
    color: var(--link-txt-cl);
  }
}

.tel-link {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--link-txt-cl);
  margin-bottom: 32px;
}
.mail-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  margin-bottom: 64px;
}
.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--main-bgr-cl);
  border: none;
}

.menu-btn__icon {
  fill: var(--black-txt-cl);
  transition: fill 250ms var(--timing-function);

  .menu-toggle:hover &,
  .menu-toggle:focus & {
    fill: var(--link-txt-cl);
  }
}

.mobile-socials {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

.mobile-socials-item {
  position: relative;
}

.mobile-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--link-txt-cl);
}

.mobile-socials-link--separator::after {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: rotate(90deg);
  pointer-events: none;

  content: '';
  display: block;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
