.hero {
  background-color: var(--secondary-bgd-cl);
  padding: 118px 0;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img_sm@1x.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_sm@2x.png);
  }

  @media screen and (min-width: 768px) {
    padding: 200px 0;
  }

  //tablet image
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_md@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_md@2x.png);
  }

  //desktop image
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_lg@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_lg@2x.png);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);

  //desktop styles
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 696px;
    height: 120px;
  }
}
