.portfolio-list-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  gap: 8px;

  //tablet styles
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  //desktop styles
  @media screen and (min-width: 1200px) {
    flex-wrap: inherit;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
  }
}

.portfolio-item:nth-child(3) {
  @media screen and (max-width: 767px) {
    margin-right: 124px;
  }
}

.portfolio-btn {
  min-width: 23px;
  min-height: 38px;
  padding: 4px 20px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border: none;

  color: var(--title-txt-cl);
  background-color: var(--grey-bgr-cl);
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--white-txt-cl);
    background-color: var(--link-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  &.active {
    color: var(--white-txt-cl);
    background-color: var(--link-txt-cl);
  }

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    border-radius 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-container-name {
  padding: 20px 24px;
  border-left: 1px solid var(--border-cl);
  border-bottom: 1px solid var(--border-cl);
  border-right: 1px solid var(--border-cl);
}

.portfolio-container-name--otherheight {
  @media screen and (min-width: 768px) {
    height: 147px;
  }
}

.portfolio-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-txt-cl);
  margin-bottom: 4px;
}

.portfolio-project {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.portfolio-link {
  width: 450px;
  height: 404px;

  //tablet styles
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 440px;
  }

  //desktop styles
  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 404px;
  }

  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  transition: box-shadow 250ms var(--timing-function);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--overlay-bgr-cl);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}

.overlay-desc {
  padding: 63, 24;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: var(--white-txt-cl);
}
