.trait {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.trait__item {
  max-width: 450px;

  //tablet styles
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  //desktop styles
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.trait__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--grey-bgr-cl);
  margin-bottom: 30px;

  //tablet styles
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  //desktop styles
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    background-color: var(--grey-bgr-cl);
    margin-bottom: 30px;
  }
}

.trait__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-txt-cl);
  margin-bottom: 10px;

  //tablet styles
  @media screen and (min-width: 768px) {
    text-align: inherit;
  }
}

.trait__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
